/* основний колір тексту #212121 */
/* вторичний колір тексту #757575 */
/* акцент #2196F3 */
/* білий колір #FFFFFF */
/* білий колір футер rgba(255, 255, 255, 0.6) */
/* колір фону футера #2f303a */
/* Колір іконок модального вікна #212121 */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --icons-color: #afb1b8;
  --bg-color: #2f303a;
  --modal-icon-color: #212121;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: none;
}

p {
  margin: 0;
}

/* Main Page */

/* Page header */

.page-header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: #000000;

  transition: color 250ms var(--cubic-bezier);
}

.logo-blue {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: var(--accent-color);
}

.logo:focus,
.logo:hover {
  color: var(--accent-color);
}

.site-nav.list {
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--primary-text-color);

  transition: color 250ms var(--cubic-bezier);
}

.item .link.current {
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;
}

.link.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -10%;
  width: 120%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);

  transform: translateY(1px);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .link {
  display: flex;
  align-items: center;
  color: var(--title-text-color);

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.item .link {
  transition: color 250ms var(--cubic-bezier);
}

.item .link:hover,
.item .link:focus {
  color: var(--accent-color);
}

.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}

.link-svg {
  margin-right: 10px;
  fill: currentColor;
}

/* Main sections */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Hero */

.hero {
  background-color: var(--bg-color);
  text-align: center;
}

.hero-bg {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/bg_img.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.container.hero-container {
  padding: 200px 237px;
}

.hero .hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Features */

.section-title.feature-title {
  display: none;
}

.feature-list {
  display: flex;
}

.feature-list .item-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.feature-list .text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* Job description */

.section.work {
  padding-top: 0;
}

.work-list {
  display: flex;
}

.work-list .item {
  position: relative;
}

.image-description {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  background: rgba(47, 48, 58, 0.8);

  color: #ffffff;
}

.work-list .item:not(:last-child) {
  margin-right: 30px;
}

/* Our Team */

.section.team {
  background-color: #f5f4fa;
}

.item-team {
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.name {
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.item-team:not(:last-child) {
  margin-right: 30px;
}

.team-list .title {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list .text {
  margin-top: 0px;
  margin-bottom: 16px;

  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
}

.network {
  display: flex;
  justify-content: center;
}

.network li + li {
  margin-left: 10px;
}

.network-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--icons-color);

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.network-button:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.network-link:focus .network-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.network-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin-top: auto;
  margin-bottom: auto;

  fill: currentColor;
}

/* Постійні кліэнти */

.clients-list {
  display: flex;
}
.clients-list li + li {
  margin-left: 30px;
}

.clients-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid currentColor;
  border-radius: 4px;

  color: var(--icons-color);

  transition: color 250ms var(--cubic-bezier);
}

.clients-button:hover,
.clients-button:focus {
  color: var(--accent-color);
  outline-color: var(--accent-color);
}

.clients-svg {
  fill: currentColor;
}

/* Footer */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bg-color);
}

.page-footer .container {
  display: flex;
}

.logo-secondary {
  display: block;
  margin-bottom: 20px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: var(--primary-white-color);

  transition: color 250ms var(--cubic-bezier);
}

.logo-accent {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: var(--accent-color);

  transition: color 250ms var(--cubic-bezier);
}

.logo-secondary:hover,
.logo-secondary:focus,
.logo-accent:focus {
  color: var(--accent-color);
}

.address {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;

  color: var(--primary-white-color);

  transition: color 250ms var(--cubic-bezier);
}

.address:hover,
.address:focus {
  color: var(--accent-color);
}

.footer-link .link {
  margin-top: 9px;

  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;

  transition: color 250ms var(--cubic-bezier);
}

.footer-link .link:hover,
.footer-link .link:focus {
  color: var(--accent-color);
}

.footer-network {
  margin-left: 70px;
}

.footer-title {
  margin-bottom: 20px;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.footer-network-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-network-list li + li {
  margin-left: 10px;
}

.footer-network-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);

  transition: background-color 250ms var(--cubic-bezier);
}

.footer-network-button:hover {
  background-color: var(--accent-color);
}

.network-link:focus .footer-network-button {
  background-color: var(--accent-color);
}

.footer-subscription {
  margin-left: 93px;
}

.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-field {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px;
  margin-left: 12px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  cursor: pointer;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
}

.icon-send {
  margin-left: 10px;
  fill: var(--primary-white-color);
}

.footer-field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

/* Portfolio Page */

.section-title.portfolio-title {
  display: none;
}

/* Filter/Hero buttons */

.filter-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button button:hover,
.filter-button button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  cursor: pointer;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.button.primary-hero {
  padding: 10px 32px;
  border: 0px;
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.button.primary-filter {
  padding: 6px 22px 6px 22px;
  border: 0px;
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.button.secondary-filter {
  margin-left: 8px;
  padding: 6px 25px 6px 25px;
  border: 0px;
  border-radius: 4px;

  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Work Examples */

.work-examples {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-image {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  height: 100%;

  font-size: 18px;
  line-height: 1.55;

  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--cubic-bezier);
}

.card:hover .text-overlay {
  transform: translateY(0);
}

.card .link:focus .text-overlay {
  transform: translateY(0);
}

.work-examples .card:nth-child(3n) {
  margin-right: 0px;
}

.work-examples .card:hover,
.work-examples .card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-examples .text {
  margin: 0px;

  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.work-examples .work-title {
  margin-bottom: 4px;
  margin-top: 0px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-description {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}

/* Модальне вікно */

.backdrop {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 1;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 500ms var(--cubic-bezier);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.4) rotate(360deg);
}

/* Розмітка модального вікна */

.modal {
  position: absolute;
  max-width: 528px;
  max-height: 521px;
  top: 50%;
  left: 50%;
  z-index: 3;
  opacity: 1;
  width: 528px;
  min-height: 581px;
  border-radius: 4px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  transition: opacity 250ms var(--cubic-bezier), transform 250ms var(--cubic-bezier);
}

.modal-form .modal-close {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
}

.modal-close:hover {
  fill: var(--accent-color);
}

.modal-form {
  display: block;
  padding: 40px;
}

.modal-title {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 12px;

  color: var(--primary-text-color);
}

label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;

  color: #757575;
}

.field {
  position: relative;
}

.icon-modal {
  position: absolute;
  fill: var(--modal-icon-color);
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill 250ms var(--cubic-bezier);
}

.field-input {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-color: rgba(33, 33, 33, 0.2);

  transition: border 250ms var(--cubic-bezier);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.field-input:focus {
  outline-color: var(--accent-color);
}

.field-input:hover {
  border-color: var(--accent-color);
}

.field-input:focus + .icon-modal,
.field-input:hover + .icon-modal {
  fill: var(--accent-color);
}

.field-input.comment {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  font-size: 14px;
  color: var(--primary-text-color);
  resize: none;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.field-input.comment::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin: auto auto;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.checkbox {
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox .checkbox-text {
  display: inline-flex;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.checkbox-list {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox-list:checked + .checkbox-text .icon-check {
  border: none;
  background-color: var(--accent-color);
  background-image: url(../images/vector.svg);
}

.checkbox a {
  color: var(--accent-color);
}

.icon-check {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  bottom: -3px;
  background-repeat: no-repeat;
  background-position: center;
  border-color: var(--primary-text-color);
}
